@{ 
    ViewBag.Title = "Home";
}

<div class="container text-center">
    <form asp-controller="COption" asp-action="Play" method="get">

        <button type="submit" class="btn btn-outline-danger btn-lg">Player vs Computer</button>
    </form>

    <form asp-controller="COption" asp-action="CompVsComp">

        <button type="submit" class="btn btn-outline-danger btn-lg">Computer vs Computer</button>
    </form>
</div>

