@{ 
    ViewBag.Title = "Home";
}

<form asp-action="">

    <button type="submit" class="btn btn-outline-danger btn-lg">Player vs Computer</button>
</form>

<form asp-action="">

    <button type="submit" class="btn btn-outline-danger btn-lg">Computer vs Computer</button>
</form>
