@{ 
    ViewBag.Title = "Player vs Computer";
}

<div class="container text-center">

    <p class="lead text-black-50">Please select your choice: </p>

    <a asp-controller="Item" asp-action="PlayerVsComp" asp-route-id="1" 
       class="btn btn-outline-primary btn-lg">ROCK</a>

    <a asp-controller="Item" asp-action="PlayerVsComp" asp-route-id="2"
       class="btn btn-outline-primary btn-lg">PAPER</a>

    <a asp-controller="Item" asp-action="PlayerVsComp" asp-route-id="3"
       class="btn btn-outline-primary btn-lg">SCISSORS</a>

</div>
