@{ 
    ViewBag.Title = "Results";
}

<div class="container text-center">
    @if (ViewBag.Message == "You Lose")
    {
        <h1 class="Message">@ViewBag.Message</h1>
    }
    else if(ViewBag.Message == "It is a DRAW!")
    {
        <h1>@ViewBag.Message</h1>
    }
    else
    {
        <h1 class="MessageGreen">@ViewBag.Message</h1>
    }


    <p>@ViewBag.Choices</p>
</div>

<div class="container text-center">
    <form asp-controller="Home" asp-action="Index">
        <button type="submit" class="btn btn-success">Play Again?</button>
    </form>
</div>

