@{
    ViewBag.Title = "Player vs Computer";
}

<div class="container text-center">

    <p class="lead text-black-50">Please select your choice: </p>

    <table class="center">
        <tbody class="text-center">
            <tr>
                <td><img src="~/images/Rock.png" alt="Rock" width="200" height="100" /></td>
                <td><img src="~/images/Paper.png" alt="Paper" width="200" height="100" /></td>
                <td><img src="~/images/Scissors.png" alt="Scissors" width="200" height="100" /></td>
            </tr>

            <tr class="text-center">
                <td>
                    <a asp-controller="COption" asp-action="PlayerVsComp" asp-route-id="0"
                       class="btn btn-outline-primary btn-lg">ROCK</a>
                </td>
                <td>
                    <a asp-controller="COption" asp-action="PlayerVsComp" asp-route-id="1"
                       class="btn btn-outline-primary btn-lg">PAPER</a>
                </td>
                <td>
                    <a asp-controller="COption" asp-action="PlayerVsComp" asp-route-id="2"
                       class="btn btn-outline-primary btn-lg">SCISSORS</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container text-center m-3">
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-danger">Cancel</a>
</div>
